*{
    padding: 0;
    margin: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 10px 30px;
}
.other-links a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding-right: 10px;
}
.login-link a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
}

/* form part */
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 138, 218);
    height: 93vh;
    width: 100vw;
}
.form-part{
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.397);
    text-align: center;
    border-radius: 5px;
}
.form-part input {
    margin-top: 10px;
    background-color: #ffffff62;
    border: 0 ;
    padding: 10px 15px;
    border-radius: 5px;
}
.form-part input:hover{
    background-color: #ffffff;
}
.form-part input:focus{
    outline: 1px solid blue;
}
.form-part input[type="submit"]{
    background-color: rgb(182, 109, 255);
    color: #fff;
    font-weight: 700;
}
