body{
    border: 1px solid red;
    max-width: 1140px;
    margin: 0 auto;
}
.photo-container{
    display: flex;
}
.photo-container div{
    width: 50%;
}

.photo img{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .photo-container{
        flex-direction: column-reverse;
    }
    .photo-container div{
        width: 100%;
    }
}